.my-container {
  background-color: $containerBackgroundColor;
  display: grid;
  min-height: 92vh;
  grid-template-rows: 1fr auto;
  position: absolute;
  top: 8vh;
  left: 0;
  right: 0;
}

.my-container-main {
  background-color: inherit;
  margin: 0 auto;
}
